:root {
  --white: rgb(255, 255, 255);
  --black: #232223;
  --blue: #3a80f5;
  --green: #4bdf80;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}
body,
.modal_content,
header {
  background-color: var(--black);
}

a {
  text-decoration: none;
}
span,
.nav_link:hover {
  background: -webkit-linear-gradient(left, var(--blue), var(--green));
  background: -o-linear-gradient(right, var(--blue), var(--green));
  background: -moz-linear-gradient(right, var(--blue), var(--green));
  background: linear-gradient(to right, var(--blue), var(--green));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card:hover {
  background: -webkit-linear-gradient(left, var(--blue), var(--green));
  background: -o-linear-gradient(right, var(--blue), var(--green));
  background: -moz-linear-gradient(right, var(--blue), var(--green));
  background: linear-gradient(to right, var(--blue), var(--green));
}
header,
header > nav > ul,
main,
#home,
#about,
#projects,
#blog,
.resume,
#skills,
.container,
.card,
.content {
  display: flex;
}

header,
header > nav > ul {
  flex-direction: row;
}

header,
main,
#home,
#about,
#projects,
#blog,
.resume {
  align-items: center;
}

header,
main,
#home,
.resume {
  justify-content: center;
}

header,
main,
.card_image > img {
  width: 100%;
}

header {
  height: 10vh;
  position: fixed;
}

header > nav > ul {
  list-style: none;
  justify-content: space-between;
  column-gap: 25px;
  font-weight: 600;
  font-size: 18px;
}

main,
#home,
#about,
#projects,
#blog,
.container,
.card,
.content {
  flex-direction: column;
}

main,
.modal,
.card_image > img {
  height: 100%;
}

#home {
  font-size: 30px;
  row-gap: 20px;
  padding-top: 5vh;
}

#home,
#about,
#projects,
#blog {
  width: 80%;
  min-height: 100vh;
}

#about,
#projects,
#blog {
  padding-top: 15vh;
  justify-content: flex-start;
}

.container {
  align-self: self-start;
}

.resume,
.container,
#skills {
  gap: 20px;
}

.resume {
  padding-top: 20px;
}

.resume_icon {
  height: 35px;
}

#greeting,
.about,
.description {
  font-weight: lighter;
}

.about {
  font-size: 20px;
  text-align: center;
  width: 74%;
}

.title {
  font-size: 30px;
}

.description {
  font-size: 15px;
}

.sub_title {
  font-size: 23px;
  font-weight: bold;
  padding: 5px 0;
}

.sub_body {
  font-size: 18px;
  text-align: justify;
  padding: 0 10px;
}

.skill_icon {
  height: 90px;
}

.card,
.card_image > img {
  border-radius: 10px;
}

.card {
  border: 2px solid rgb(110, 110, 110);
  height: 270px;
  width: 300px;
  padding: 10px;
  gap: 5px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

#open_modal,
.close:hover,
.close:focus {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(110, 110, 110);
  width: 80%;
  border-radius: 10px;
}

.content {
  gap: 30px;
}

.sub_content {
  margin: 0 30px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}
